<div ng-controller="RainfallCtrl">
<section class="mdl-layout__tab-panel is-active">
	<div class="demo-container mdl-grid">
		<div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
		<div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-1200 mdl-cell mdl-cell--12-col">
			<h3>Rainfall</h3>
			<p>Get the rainfall from any weaterstation in the world.</p>
			<div google-chart chart="chartObject"></div>
		</div>
	</div>
</section>
</div>