<div ng-controller="RainfallCtrl as rainfall">
	<section class="mdl-layout__tab-panel is-active">


		<div class="demo-container mdl-grid">
			<div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-1200 mdl-cell mdl-cell--12-col">
				<div class="mdl-grid">
					<div class="mdl-cell mdl-cell--12-col">
						<h3>Rainfall</h3>
						<p>Get the rainfall from any weaterstation in the world.</p>
						<hr />

						<div>
							<div id="map_canvas">
								<ui-gmap-google-map  center="map.center" zoom="map.zoom" options="{minZoom: 6,maxZoom: 9}" control="map.control">
									<ui-gmap-markers models="weerstations" chunk="'500'" idKey="'stn'" coords="'self'" click="rainfall.markerClick"></ui-gmap-markers>
								</ui-gmap-google-map>
							</div>
						</div>
						<div class="mdl-progress mdl-js-progress mdl-progress__indeterminate" style="width: 100%" ng-show="loading"></div>
						<hr />
					</div>
				</div>
			</div>
		</div>


		<div class="demo-container mdl-grid">
			<div class="demo-content mdl-color--white mdl-shadow--4dp mdl-color-text--grey-1200  mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet">
				<h3>Station information</h3>
				<table class="mdl-data-table mdl-js-data-table mdl-shadow--4dp">
					<tbody>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">Station #</td>
							<td ng-bind="stationInfo.stn" ng-hide="loading"></td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">Name</td>
							<td ng-bind="stationInfo.title" ng-hide="loading"></td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">Country</td>
							<td ng-bind="stationInfo.country" ng-hide="loading"></td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">Latitude</td>
							<td ng-bind="stationInfo.latitude" ng-hide="loading"></td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">Longitude</td>
							<td ng-bind="stationInfo.longitude" ng-hide="loading"></td>
						</tr>
					</tbody>
				</table>
				<br>


				<button ng-click="getExport()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"> Download as CSV </button>

			</div>
			<div class="demo-content mdl-color--white mdl-shadow--4dp mdl-color-text--grey-1200 mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet">
			<h2 class="mdl-color-text--grey-600" ng-bind="error"></h2>
				<canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series"></canvas>
			</div>

		</div>

</section>
</div>